/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-container.config-page {
  padding: 0;
}

.config-page .theme-default-content {
    max-width: 100%;
}

.config-page .docs-layout {
    max-width: 100%;
}
